.DS_Store
**/.DS_Store
**/*.log
**/*.zip
**/*.csv
**/*.csv#
**/*.html
**/*.db
**/*.db*
DEV/**
**/*.venv
*.session
*.sqlite3


**/service_account.json
**/credentials.txt
**/*creds.py
**/kf.txt
**/telegram.txt
**/.vscode/
**/__pycache__/
*.session-journal
*nohup.out
*kucoin.txt
*-creds.txt

node_modules/
package-lock.json